.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
.radio-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
.select--no-search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: left;
  }

.form-container {
    border: 1px solid #000;
    padding: 20px;
    width: 50%;
    margin: auto;
    text-align: left;
}