{% extends 'index.html' %}
{% load static %}

  {% block conteudo %}
  <main class="charity-01-main">

    <!-- ============abt-01 Section  Start============ -->

    <section class="abt-01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading-wrapper">
                        <h3>Blog</h3>
                        <ol>
                            <li>Home<i class="far fa-angle-double-right"></i></li>
                            <li>Blog</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ========bg-03 started ========= -->

    <section class="bg-03">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="head-01">
                        <h2>Conheça nossas parceiras</h2>
                        <p>Fique por dentro sobre algumas de nossas ONGs colaboradoras</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <article class="_kl_cd">
                        <div class="_i-tr">
                            <img src="{% static 'img/blog/ONG_1.jpeg' %}" alt="ONG Crianças Criativas">
                        </div>
                        <div class="_oi_er_we">
                            <h3>Crianças Criativas</h3>
                            <p style="text-align: left;"> Esta ONG busca nutrir o potencial artístico e criativo das crianças, oferecendo programas de arte, música e teatro.<br>
                                Atuando na região de São Paulo, entre em contato para mais informações através do telefone:<br>
                                Capital: (11) 0000-0000<br>
                                Grande São Paulo: 0800 000 00 00<br>
                                Clique na imagem para saber mais.</p>
                        </div>
                    </article>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <article class="_kl_cd">
                        <div class="_i-tr">
                            <img src="{% static 'img/blog/ONG_2.jpeg' %}" alt="ONG Educação Sem Fronteiras">
                        </div>
                        <div class="_oi_er_we">
                            <h3>Educação Sem Fronteiras</h3>
                            <p style="text-align: left;">ONG empenhada em eliminar as barreiras à educação para crianças em comunidades desfavorecidas.
                                Contam com acompanhamento psicológico, educação para crianças e adolescentes e muito mais.<br>
                                Destinada a ajudar crianças desfavorecidas no estado do Rio de Janeiro através do contato.<br>
                                Telefone: (21) 1111-1111<br>
                                Clique na imagem para saber mais.</p>
                        </div>
                    </article>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <article class="_kl_cd">
                        <div class="_i-tr">
                            <img src="{% static 'img/blog/ONG_3.jpeg' %}" alt="ONG Saúde Infantil Global">
                        </div>
                        <div class="_oi_er_we">
                            <h3>Saúde Infantil Global</h3>
                            <p style="text-align: left;">Esta ONG se dedica a melhorar a saúde das crianças, fornecendo assistência médica vital, vacinações e educação sobre cuidados de saúde preventivos.
                                Garante que as crianças tenham a chance de crescer saudáveis.<br>
                                Com filias espalhadas por MG, SP e RJ, entre em contato com um de nossos telefones.<br>
                                Minas Gerais: (31) 2222-2222<br>
                                Demais Localidades: 0800 222 22 22<br>
                                Clique na imagem para saber mais.</p>
                        </div>
                    </article>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <article class="_kl_cd">
                        <div class="_i-tr">
                            <img src="{% static 'img/blog/ONG_4.jpeg' %}" alt="ONG Crianças Esportivas">
                        </div>
                        <div class="_oi_er_we">
                            <h3>Crianças Esportivas</h3>
                            <p style="text-align: left;">Esta ONG promove a importância da atividade física e esportes para o desenvolvimento saudável das crianças.
                                Eles oferecem programas esportivos, treinamento e competições para crianças de todas as idades.<br>
                                Atualmente em DF, entre em contato através de um de nossos telefones:<br>
                                Distro Federal: (61) 3333-3333<br>
                                Demais Localidades: 0800 333 33 33<br>
                                Clique na imagem para saber mais.</p>
                        </div>
                    </article>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <article class="_kl_cd">
                        <div class="_i-tr">
                            <img src="{% static 'img/blog/ONG_5.jpeg' %}" alt="ONG Crianças com Fome Zero">
                        </div>
                        <div class="_oi_er_we">
                            <h3>Crianças com Fome Zero</h3>
                            <p style="text-align: left;">Com o objetivo de erradicar a fome infantil, esta ONG fornece refeições nutritivas para crianças em áreas de extrema pobreza.
                                Seu compromisso é garantir que cada criança tenha acesso a alimentos adequados. Contam com cestas básicas e vários projetos que incentivam o combate à fome.<br>
                                Com foco na região Nordeste do Brasil, e matriz em BA, contamos com sua ajuda. Entre em contato.<br>
                                Salvador: (71) 4444-4444<br>
                                Demais Localidades: 0800 444 44 44<br>
                                Clique na imagem para saber mais.</p>
                        </div>
                    </article>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <article class="_kl_cd">
                        <div class="_i-tr">
                            <img src="{% static 'img/blog/ONG_6.jpeg' %}" alt="ONG Crianças pela Igualdade">
                        </div>
                        <div class="_oi_er_we">
                            <h3>Crianças pela Igualdade</h3>
                            <p style="text-align: left;">Esta ONG trabalha incansavelmente para garantir que todas as crianças tenham as mesmas oportunidades, independentemente do gênero, cor ou orientação sexual.
                                Eles oferecem programas de conscientização, workshops, palestras e recursos educacionais.<br>
                                Encontram-se na região Sul do Brasil, mas precisamente no RS, e pretendem se extender por todo o país.
                                Entre em contato.<br>
                                Rio Grande do Sul: (55) 5555-5555<br>
                                Demais Localidades: 0800 555 55 55<br>
                                Clique na imagem para saber mais.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

  </main>
{% endblock %}
