<!DOCTYPE html>

{% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block titulo %}
    <title>Home</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <!-- ======== header started ========= -->
  <header>
    <div class="my-nav">
      <div class="container">
        <div class="row">
          <div class="nav-items">
            <div class="menu-toggle">
              <div class="menu-hamburger"></div>
            </div>
            <div class="logo">
              <img src="{% static 'img/logo.jpg' %}">
            </div>
            <div class="menu-items">
              <div class="menu">
                <ul>
                  <li><a href="{% url 'inicio' %}">Home</a></li>
                  <li><a href="{% url 'doe' %}">Doe</a></li>
                  <li><a href="{% url 'blog' %}">Blog</a></li>
                  <li><a href="{% url 'contato' %}">Contato</a></li>
                 <li><a href="{% url 'formulario' %}">Formulario</a></li>
                  <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {% block conteudo %}
  <main class="charity-01-main">

      <!-- ======== banner started ========= -->
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="wrapper">
              <div class="content">             
   
                <h1>Conecta ONG</h1>
                <p>Olá, somos a ONG Conecta. Nossa paixão é promover um impacto significativo na vida das pessoas. Nosso compromisso é conectar você a ONGs que têm poucos recursos, a fim de ajudar todos os tipos de projetos sociais. Nosso propósito é proporcionar apoio e assistência essenciais a comunidades desfavorecidas.
                  </p>
                <div class="btn-002">
                  <ul>
                    <li><a href="{% url 'contato' %}">Contato</a></li>
                    <li><a href="{% url 'doe' %}">Doe</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-wrapper">
              <div class="banner-img">
                <img src="static/img/slider/donation-02.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======== bg-02-b started ========= -->

    <section class="bg-02-b">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-001">
              <h1>Missão e Valores</h1>
              <p></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 ">
            <div class="_do_er_xs">
              <div class="_kl_de_s">
                <img src="{% static 'img/slider/donation-01.png' %}">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="_do_er_xs">
              <p><h3>Missão</h3>Nossa missão é ajudar o máximo de pessoas necessitadas, oferecendo recursos e 
                apoio essenciais para promover uma mudança significativa em suas vidas.</p>
              <h3> Valores </h3><p><h5>Comprometimento</h5> Estamos comprometidos em servir as comunidades carentes com dedicação e empatia.</p>
              <p><h5> Integridade</h5> Agimos com integridade e transparência em todas as nossas interações e operações.</p>
              <p><h5>Solidariedade</h5> Acreditamos na solidariedade e na união para alcançar um impacto positivo duradouro.</p>
              <p><h5>Responsabilidade</h5> Assumimos a responsabilidade por nossas ações e impacto na sociedade.</p>
              <p><h5>Inovação</h5> Buscamos constantemente soluções inovadoras para atender às necessidades em constante evolução das comunidades que servimos.</p>              
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======== services started ========= -->

    <section class="services-01">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-01">
              <h2>Ongs Beneficiadas</h2>
              <p>todas as formas de organizações não governamentais (ONGs), independentemente de sua área de atuação, 
                são valorizadas neste espaço. Saúde e apoio o impacto positivo e as contribuições significativas que as ONGs 
                trazem para a sociedade. Seja na proteção ambiental, na defesa dos direitos humanos, no apoio a comunidades 
                carentes ou em outras áreas importantes, reconheço e incentivo o trabalho fundamental que as ONGs realizam em 
                prol do bem-estar coletivo e do progresso social.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-bone"></i>
              <h3>PETVIDA</h3>
              <p>ONG comprometida com o bem-estar animal, resgatando, cuidando e promovendo adoção responsável e transparente.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-graduation-cap"></i>
              <h3>CENTRO EDUCACIONAL</h3>
              <p>
                Dedicado ao aprendizado holístico, cultivando o potencial dos alunos através de abordagens inovadoras e programas abrangentes.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-child"></i>
              <h3>SAÚDE LABORAL</h3>
              <p>
                Dedicado aos idosos, oferecendo cuidados abrangentes, promoção de bem-estar e apoio holístico para uma vida saudável e ativa.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-box-heart"></i>
              <h3>DOE PARA QUEM PRECISA</h3>
              <p>Atua como intermediária entre doadores e destinatários, facilitando doações para aqueles que necessitam.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-hands-heart"></i>
              <h3>Carinho para todos</h3>
              <p>Oferecemos cuidados especializados e carinho a todos, com foco especial no bem-estar e desenvolvimento de bebês.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-home"></i>
              <h3>Movimento Lar</h3>
              <p>O Movimento Lar oferece assistência às famílias sem terra, suprindo suas necessidades essenciais.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-hand-holding-water"></i>
              <h3>Ajuda Ao proximo</h3>
              <p> Fornece água e alimentos para os moradores de rua, visando atender suas necessidades básicas, promovendo o bem-estar. </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-heartbeat"></i>
              <h3>Corações Unidos</h3>
              <p>Nosso programa promove e facilita a doação de sangue, incentivando a participação ativa para apoiar aqueles que necessitam.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="_kl_ds_we">
            <div class="head-footer">
              <h3>Conecta ONG </h3>
              <p>Redes Socias</p>
              <ol>
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-twitter-square"></i></li>
                <li><i class="fab fa-linkedin"></i></li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="_kl_ds_we">
            <div class="head-footer">
              <h3>Empresas Parceiras</h3>
              <ul>
                <li><i class="fas fa-chevron-right"></i>Crianças Criativas</li>
                <li><i class="fas fa-chevron-right"></i>Educação Sem Fronteiras</li>
                <li><i class="fas fa-chevron-right"></i>Saúde Infantil Global</li>
                <li><i class="fas fa-chevron-right"></i>Crianças Esportivas</li>
                <li><i class="fas fa-chevron-right"></i>Crianças Pela Igualdade</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="_kl_ds_we">
            <div class="head-footer">
              <h3>Acessos Rápidos</h3>
              <ul style="color: white;">
                <li><a href="{% url 'inicio' %}" style="color: white;">Home</a></li>
                <li><a href="{% url 'doe' %}" style="color: white;">Doe</a></li>
                <li><a href="{% url 'blog' %}" style="color: white;">Blog</a></li>
                <li><a href="{% url 'contato' %}" style="color: white;">Contato</a></li>
                <li><a href="{% url 'formulario' %}" style="color: white;">Formulario</a></li>
            </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="_kl_ds_we">
            <div class="head-footer">
              <h3>Nos Encontre</h3>
              <ul class="un-hover">
                <li><i class="far fa-location"></i>Rua Antônio Macedo, 505 - SP</li>
                <li><i class="fas fa-mobile-alt"></i>+55 (11)9999-0000</li>
                <li><i class="far fa-envelope"></i>Contato@conectaong.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row _pl_we_sq">
            <div class="col-12">
              <div class="last-01">
                <p>2023 @ Desenvolvido por: Alan Correia - Anderson Brito - Danilo Borges - Gabriel Militão <a
                    href="https://github.com/andersonlimaz/ProjetoTCC-main">Github</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>


<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</html>