<!DOCTYPE html>

{% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/style-login.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <main id="container">
        <form action="{% url 'fazerLogin' %}" method="POST" id="login-form">
            {% csrf_token %}
            <div id="form-header">
                <h1>Login</h1>
                <i id="mode_icon" class="fa-solid fa-moon"></i>
            </div>

            <div id="social-media">
                <a href="#">
                    <img src="{% static 'img/linkedin-logo.png' %}" alt="Linkedin Logo">
                </a>

                <a href="#">
                    <img src="{% static 'img/google-logo.png' %}" alt="Google Logo">
                </a>

                <a href="#">
                    <img src="{% static 'img/facebook-logo.png' %}" alt="Facebook Logo">
                </a>
            </div>

            <div id="inputs">
                <div class="input-box">
                    <label for="user">
                        Usuário
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" id="email" name="email" required>
                        </div>
                    </label>
                </div>

                <div class="input-box">
                    <label for="password">
                        Senha
                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" id="password" name="password" required>
                        </div>
                    </label>
                </div>

                <div id="forgot-password">
                    <a href="#">
                        Esqueceu sua senha?
                    </a>
                </div>
            </div>

            <button type="submit" id="login-button">
                Login
            </button>
        </form>
    </main>
    <script type="text/javascript" src="{% static 'js/script-login.js' %}"></script>
</body>