{% extends 'index.html' %}
{% load static %}

  {% block conteudo %}
  <main class="charity-01-main">

    <!-- ============abt-01 Section  Start============ -->

    <section class="abt-01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading-wrapper">
                        <h3>CADASTRO</h3>
                        <ol>
                            <li>Cadastro<i class="far fa-angle-double-right"></i></li>
                            <li>ONG</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======== services started ========= -->

    <section class="services-01">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-01">
              <h2> Cadastro</h2>
              <p>Sua ONG foi cadastrada com sucesso no nossso sitema
              </p>
            </div>
          </div>
        </div>
      
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
