<!--        <h1>Bem-vindo, {{ request.session.nome_usuario }}</h1>    ESSA SERÁ A REFERENCIA USADA PARA INDICAR O USUARIO QUE ESTÁ LOGADO -->

<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.6/datatables.min.css" rel="stylesheet">
</head>

<body>
    <main class="">
        <nav></nav> <!-- PARTE DO CABEÇALHO -->
    </main>

    <div class="container">

        <div class="table-responsive-sm">
            <table class="table table-striped p-2" id="tabela-ong">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ONG</th>
                        <th scope="col">Nome (Doador)</th>
                        <th scope="col">Email (Doador)</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Pagamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pagamento in pagamentos %}
                    <tr>
                        <th scope="row">{{ pagamento.ong_parceiras }}</th>
                        <td>{{ pagamento.nome }}</td>
                        <td>{{ pagamento.email }}</td>
                        <td>{{ pagamento.valor }}</td>
                        <td>{{ pagamento.forma_Pagamento}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>




    <!-- IMPORTANDO JS -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IMPORTAÇÃO DATATABLE -->
    <script src="https://cdn.datatables.net/v/bs4/dt-1.13.6/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#tabela-ong").DataTable({
                responsive: true,
                // "bSort": false,
                // "aaSorting": [],
                // "pageLength": 50,
                "language": {
                    //     "decimal": "",
                    "info": 'Mostrando de _PAGE_ até _PAGE_',
                    "infoEmpty": 'Sem registros disponíveis',
                    "infoFiltered": '(filtrado de _MAX_ registos no total)',
                    //     "infoPostFix": "",
                    //     "thousands": ",",
                    "lengthMenu": 'Mostrar _MENU_ registos',
                    "loadingRecords": "A carregar dados...",
                    "processing": "A processar...",
                    "search": 'Procurar:',
                    "zeroRecords": 'Não foram encontrados resultados',
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Seguinte",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ordem crescente",
                        "sortDescending": ": ordem decrescente"
                    }

                }
            });
        });
    </script>
</body>

</html>